## ========================
# Ignore outputs completely
# ========================


# But keep folder structure
!outputs/.gitkeep
!outputs/**/.gitkeep


# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# VS Code
.vscode/
